input {
  width: 2em;
  height: 2em;
  border: 0;
  margin: 0;
}

:host {
  display: block;
  margin: 1em;
}

.color-name {
  text-shadow: 0 0 0.1em rgba(0, 0, 0, .7);
}

.current-color {
  width: 100%;
  height: 7px;
}
