<mat-card class="mat-elevation-z0" [ngStyle]="{ 'border-top': '.35em solid ' + currentColor, background: active ? '' : 'none' }">
  <mat-card-title *ngIf="!active">
    <span [ngStyle]="{ color: colorName ? '' : currentColor }">Current lights color</span>
    <span *ngIf="colorName?.length" class="color-name" [ngStyle]="{ color: colorName }">is {{ colorName }}</span>
  </mat-card-title>
  <mat-card-subtitle *ngIf="active">
    <input *ngFor="let color of colors; let i = index"
           [style.background]="color.hex"
           (colorPickerChange)="setColor(i, $event)"
           (doubleclick)="remove(i)"
           [colorPicker]="color.hex"
           cpRemoveColorButtonClass="r"
           class="mat-elevation-z1" />
    <p>Create lights sequence or pick just one color you like most.</p>
    <p *ngIf="colorName?.length">Current lights color is <span class="color-name" [ngStyle]="{ color: colorName }">{{ colorName }}</span></p>
  </mat-card-subtitle>
  <mat-card-actions *ngIf="active">
    <button mat-button (click)="addColor()">add color</button>
    <button mat-button (click)="removeColor()">remove color</button>
    <button mat-button (click)="send()">send</button>
  </mat-card-actions>
</mat-card>
