input {
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
}

.color-label {
  flex: 1;
  align-self: stretch;
}

mat-card {
  max-width: 34em;
}

.sequence-line {
  width: auto;
  max-width: 100%;
  margin-top: -1em !important;
  display: inline-block;

  span {
    display: inline-block;
  }
}

.color {
  min-height: 10em;
}

:host {
  display: block;
  margin: 1em;
}

.color-name {
  text-shadow: 0 0 0.1em rgba(0, 0, 0, .7);
}

.current-color {
  width: 100%;
  height: 7px;
}
