.color-drop {
  height: 64px;
  width: 64px;
}

.color-button {
  transform: rotate(25deg);
  border-radius: 50% / 55%;
  overflow: hidden;
  padding: 0;
  min-width: auto;
}

.colors {
  margin: 32px;
}