.color-drop {
  $drop-size: 48px;
  height: $drop-size;
  width: $drop-size;
}

.color-button {
  border-radius: 4px / 3px;
  overflow: hidden;
  padding: 0;
  min-width: auto;
}

.colors {
  margin: 32px;
}