:host {
    flex-flow: column-reverse;
    align-items: center;
    display: inline-flex;
}

switch {
    margin: 8px 24px;
}

.wood {
    height: 48px;
    width: 24px;
    background-color: #3E2723;
}