:host {
    position: relative;
    display: block;
    height: 32px;
}

ul {
    list-style: none;
    flex-flow: wrap;
    display: flex;
    padding: 0;
}

li {
    margin: 4px;
}

.que-element {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}