version: 2
jobs:
  build:
    working_directory: ~/fir
    docker:
      - image: circleci/node:6-browsers
    steps:
      - checkout
      - restore_cache:
          key: fir-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: fir-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run:
          name: unit tests
          command: xvfb-run -a npm run test -- --single-run --no-progress --browser=ChromeNoSandbox
      - run:
          name: e2e tests
          command: xvfb-run -a npm run e2e -- --no-progress --config=protractor-ci.conf.js
      
  deploy:
    working_directory: ~/fir
    docker:
      - image: circleci/node:6-browsers
    steps:
      - checkout
      - restore_cache:
          key: fir-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: fir-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - add_ssh_keys:
          fingerprints:
            - "49:de:a9:17:3d:11:2f:9b:b9:4e:49:9e:23:e7:af:96"
      - run:
          name: deploy
          command: npm run deploy && scp -o "StrictHostKeyChecking no" -P 2207 -r ./dist flights@188.166.150.160:/

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
