<div class="screen">
  <screen></screen>
  <div>
    <mat-list>
      <mat-list-item>
        <mat-icon color="primary" matListIcon>https</mat-icon>
        <p matLine class="primary">Server connection</p>
      </mat-list-item>  
    </mat-list>
    
    <statistics></statistics>

    <mat-list>
      <mat-list-item matTooltipPosition="above" matTooltip="Sequences mode will disable state change mode">
        <mat-icon matListIcon>select_all</mat-icon>
        <mat-slide-toggle matLine [(ngModel)]="sequences">Sequences</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div class="channels" *ngIf="!sequences">
  <channel *ngFor="let channel of channels" [identity]="channel.identity" [label]="channel.label"></channel>
</div>

<sequencer *ngIf="sequences"></sequencer>
