:host {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.screen {
  display: flex;

  screen {
    flex-grow: 1;
  }
}

.channels {
  margin: 32px;
}
