:host {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  background: rgba(255, 255, 255, .8);
  margin: auto;
}

.screen {
  display: flex;

  screen {
    flex-grow: 1;
  }
}

.channels {
  margin: 32px;
}
