<screen></screen>

<mat-drawer-container>
  <mat-drawer #drawer [mode]="drawerMode">
    <mat-list>
      <mat-list-item>
        <mat-icon [color]="networkStatus == 'connection established' ? 'primary' : 'accent'" matListIcon>https</mat-icon>
        <p matLine [ngClass]="{ primary: networkStatus == 'connection established', accent: networkStatus != 'connection established' }">{{ networkStatus }}</p>
      </mat-list-item>
      <mat-list-item matTooltipPosition="above" matTooltip="Sequences mode will disable state change mode">
        <mat-icon matListIcon [color]="sequences ? 'accent' : ''">select_all</mat-icon>
        <mat-slide-toggle matLine [(ngModel)]="sequences">Sequences</mat-slide-toggle>
      </mat-list-item>
    </mat-list>

    <statistics></statistics>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <sequencer [active]="sequences"></sequencer>
    <mat-grid-list [ngStyle]="{ width: hostWidth ? '' : '35em' }" class="channels" [cols]="columns" [rowHeight]="sequences ? '2.4em' : '6em'">
      <mat-grid-tile *ngFor="let channel of channels">
        <channel [active]="!sequences" [identity]="channel.identity" [label]="channel.label"></channel>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
