.channel-0 {
    width: 328px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
}

.channel-1 {
    width: 252px;    
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
}

.channel-2 {
    width: 168px;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.channel-3 {
    width: 96px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

button {
    height: 80px;
}