<button mat-flat-button (click)="toggleColor()"
    color="accent"
    [ngClass]="'channel-' + identity">

    <svg *ngIf="state" xmlns="https://www.w3.org/2000/svg" width="300" height="100" version="1.1">
        <path d="M 0 0 C 40 60, 80 70, 220 10" [attr.stroke]="color"
            stroke-width='2' fill="transparent"/>
            
        <path d="M 0 40 C 40 40, 120 160, 240 40" [attr.stroke]="color"
            stroke-width='4' fill="transparent"/>

        <path d="M 0 5 C 40 0, 120 50, 240 0" [attr.stroke]="color"
            stroke-width='3' fill="transparent"/>
    </svg>
      
</button>
