$picker-height: 358px;
$color-size: 44px;

:host {
    display: inline-block;
}

mat-slider {
    width: 100%;
}

button {
    min-width: auto;
    padding: 0;
}

.outlet {
    position: relative;
    display: flex;
    background: #fefefe;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: $picker-height;
    width: $picker-height;
}

.thumb {
    width: $picker-height / 1.6;
    height: $picker-height / 1.6;
    box-sizing: border-box;
    border: 32px solid;
    border-radius: 50%;
    position: absolute;
    // background: #444;
    transition: .4s cubic-bezier(0.4, 0.0, 0.2, 1), transform 1.5s cubic-bezier(0.4, 0.0, 0.2, 1);

    &::after, &::before {
        position: absolute;
        content: '';
        left: 0;
    }

    &::before {
        border: 64px solid;
        border-radius: 16px;
        left: -18px;
        top: -18px;
        transition: border .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    &::after {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    &.null-direction {
        &::before {
            border: 0;
        }
    }
    
}

.color-drop {
    width: $color-size;
    height: $color-size;
    border-radius: 14px / 18px;
}

.color {
    $shift: 12px;
    z-index: 3;
    transform: translateX(-($color-size / 2));
    height: ($picker-height / 2) - $shift;
    position: absolute;
    width: $color-size;
    transform-origin: bottom;
    top: $shift;

    @for $i from 1 through 18 {
        &:nth-child(#{$i})  {
            transform: translateX(-($color-size / 2)) rotate(360deg / 18 * $i);
        }
    }
}
