$picker-height: 358px;
$color-size: 42px;

:host {
    display: inline-block;
}

.outlet {
    position: relative;
    display: flex;
    background: #fefefe;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: $picker-height;
    width: $picker-height;
}

.thumb {
    width: $picker-height / 1.6;
    height: $picker-height / 1.6;
    box-sizing: border-box;
    border: 10px solid;
    border-radius: 50%;
    position: absolute;
    background: #444;
    transform: rotate(5deg);
    

    &::after, &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
    }

    &::before {
        border: 32px solid;
    }

    &::after {
        background: #333;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.color-drop {
    width: $color-size;
    height: $color-size;
    border-radius: 12px / 16px;
}

.color {
    $shift: 12px;
    transform: translateX(-($color-size / 2));
    height: ($picker-height / 2) - $shift;
    position: absolute;
    width: $color-size;
    transform-origin: bottom;
    cursor: pointer;
    top: $shift;

    @for $i from 1 through 18 {
        &:nth-child(#{$i})  {
            transform: translateX(-($color-size / 2)) rotate(360deg / 18 * $i);
        }
    }
}
