:host {
    display: block;
    height: 420px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

mat-icon {
    $size: 96px;
    width: $size;
    height: $size;
    font-size: $size;
}