<main class="primary-background">
  <h1 class="mat-display-3">Merry christmas</h1>
  <p class="mat-body-1">Site description</p>
  <button routerLink="christmas" mat-button>START COMMANDING</button>
  <screen></screen>
</main>

<section class="description">
  <switches [channels]="channels$ | async"></switches>
  <div>
    <h2 class="accent mat-display-1">Light switches</h2>
    <p class="mat-title">Click switch to turn lights or star on and off.</p>
    <p class="mat-title">Switches have color baubles to indicates which lights they switch.</p>
    <p class="mat-title">Swichtes also have lights which indicate their current state.</p>
  </div>
</section>

<section class="description">
  <div>
    <h2 class="accent mat-display-1">LED color</h2>
    <p class="mat-body-1">
      Click on color to change led lights color or move ** to change available colors shade
    </p>
  </div>
  <color-picker></color-picker>
</section>

<section>
  <queue [values]="(queue$ | async)?.value || []"></queue>
  <div>
    <div>
      <h2 class="accent mat-display-1">Queue</h2>
    </div>

    <div class="queue-description">
      <p class="mat-body-1">Queue presents inflowing data of users changes</p>

      <div class="queue-legend">
        <p class="mat-body-1">Legend</p>
        <div class="queue-legend-element" 
          *ngFor="let i of ['radio_button_unchecked', 'radio_button_checked', 'palette']">
          <mat-icon>{{ i }}</mat-icon>
          <p class="mat-body-1">description</p>
        </div>
      </div>
    </div>
  </div>
</section>