:host {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    width: 100%;
}

.hero {
    display: grid;
}

main, section {
    grid-column-start: 1;
    grid-column-end: 9;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

    h1, p, button {
        margin: 0 32px;
    }
    h1 {
        margin-top: 48px;
    }
}

section {
    max-width: 100%;
    z-index: 2;
}

screen {
    overflow: hidden;
    position: relative;
    top: 48px;
    width: 810px;
}

.queue-section {
    margin: auto;
}

.queue-description {
    display: inline-grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.queue-legend-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}