:host {
    grid-template-rows: 1.5fr repeat(4, 2fr);
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    width: 100%;
}

.queue-description {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.queue-legend {
}

.queue-legend-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    position: relative;
    padding: 48px 32px 0;
    box-sizing: border-box;
}

section {
    display: grid;
    max-width: 100%;
    z-index: 2;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

main, section {
    grid-column-start: 1;
    grid-column-end: 9;
}

screen {
    position: absolute;
    bottom: -288px;
    right: 10vw;
    width: 60vw;
}