:host {
    color: #333;
    display: block;
    position: relative;
    height: 32px;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

li {
    margin: 4px;
}

.que-element {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.channel {
    &.normal {
    }
}