:host {
    color: #333;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

li {
    margin: 12px;
}

.que-element {
    height: 48px;
    width: 48px;
}

.channel {
    &.normal {
        background: #333;
    }
}