@import '~@angular/material/theming';
@include mat-core();

$christmas-app-primary: mat-palette($mat-green);
$christmas-app-accent: mat-palette($mat-cyan, A200, A100, A400);

$christmas-app-theme: mat-light-theme($christmas-app-primary, $christmas-app-accent);

@include angular-material-theme($christmas-app-theme);


.warn {
  color: mat-color(mat-palette($mat-red));
}

.primary {
  color: mat-color($christmas-app-primary);
}

body {
  margin: 0;
  background-image: url("https://cdn.pixabay.com/photo/2017/10/28/12/57/winter-2896970_960_720.jpg");
  background-size: cover;
}
