@import '~@angular/material/theming';
@include mat-core();

$christmas-app-primary: mat-palette($mat-red, 900);
$christmas-app-accent: mat-palette($mat-light-green, 900);

$christmas-app-theme: mat-dark-theme($christmas-app-primary, $christmas-app-accent);

@include angular-material-theme($christmas-app-theme);

.warn {
  color: mat-color(mat-palette($mat-red));
}

.primary {
  color: mat-color($christmas-app-primary);
}

.primary-background {
  background-color: mat-color($christmas-app-primary);
}

.accent-background {
  background-color: mat-color($christmas-app-accent);
}

.accent {
  color: mat-color($christmas-app-accent);
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
