@import '~@angular/material/theming';
@include mat-core();

$christmas-app-primary: mat-palette($mat-green);
$christmas-app-accent: mat-palette($mat-cyan, A200, A100, A400);

$christmas-app-theme: mat-light-theme($christmas-app-primary, $christmas-app-accent);

@include angular-material-theme($christmas-app-theme);


.warn {
  color: mat-color(mat-palette($mat-red));
}

.primary {
  color: mat-color($christmas-app-primary);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  /*
    background-image: url("assets/winter.jpg");
    background-size: cover;
    */
}
