:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(255, 255, 255, .8);
  margin: 0 auto;
}

mat-drawer-container {
  width: 100%;
  min-height: 272px;
}

.color-name {
  margin-left: .25em;
  text-shadow: 0 0 0.1em rgba(0, 0, 0, .7);
}

mat-slide-toggle {
  margin-left: auto;
}

mat-drawer-content {
  display: flex;
  flex-flow: column;
}

mat-drawer-container {
  background: none;
  height: 100%;
}

mat-drawer {
  background: rgba(255, 255, 255, .5);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 64px;
}

.diamond {
    border-style: solid;
    border-color: transparent transparent #03a9f4 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
}

.diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #03a9f4 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}
