:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(255, 255, 255, .8);
  margin: 0 auto;
}

mat-drawer-container {
  width: 100%;
}

.channels {
  margin: 32px;
}

.drawer-toggle {
  margin-top: auto;
}

mat-drawer-content {
  display: flex;
  flex-flow: column;
}

mat-drawer-container {
  background: none;
  height: 100%;
}

mat-drawer {
  background: rgba(255, 255, 255, .5);
}
