<!--<screen [style.height]="live ? '' : 0"></screen>-->

<mat-progress-bar *ngIf="networkStatus != 'connection established'" mode="indeterminate"></mat-progress-bar>
<mat-drawer-container>
  <mat-drawer #drawer [mode]="drawerMode">
    <mat-list>
      <mat-list-item>
        <mat-icon [color]="networkStatus == 'connection established' ? 'primary' : 'accent'" matListIcon>https</mat-icon>
        <p matLine [ngClass]="{ primary: networkStatus == 'connection established', accent: networkStatus != 'connection established' }">{{ networkStatus }}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>live_tv</mat-icon>
        <mat-slide-toggle [(ngModel)]="live" matLine>Live-stream</mat-slide-toggle>
      </mat-list-item>
    </mat-list>

    <statistics></statistics>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar [ngStyle]="{ 'border-bottom': '.25em solid ' + currentColor }">
      <button mat-icon-button class="drawer-toggle" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span [ngStyle]="{ color: colorName ? '' : currentColor }">Current roof color</span>
      <span *ngIf="colorName?.length" class="color-name" [ngStyle]="{ color: colorName }">is {{ colorName }}</span>

      <mat-slide-toggle [(ngModel)]="sequences" matTooltipPosition="above" matTooltip="Sequences mode will disable state change mode">Sequences</mat-slide-toggle>
    </mat-toolbar>
    <sequencer [active]="sequences"></sequencer>

    <channels [channels]="channels$ | async"></channels>
  </mat-drawer-content>
</mat-drawer-container>

<footer>
  <div class="diamond"></div>
</footer>
