:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(255, 255, 255, .8);
  margin: 0 auto;
}

mat-drawer-container {
  width: 100%;
}

.channels {
  margin: 32px;
}

.color-name {
  margin-left: .25em;
  text-shadow: 0 0 0.1em rgba(0, 0, 0, .7);
}

mat-slide-toggle {
  margin-left: auto;
}

mat-drawer-content {
  display: flex;
  flex-flow: column;
}

mat-drawer-container {
  background: none;
  height: 100%;
}

mat-drawer {
  background: rgba(255, 255, 255, .5);
}
